# Ignore node_modules and build files
CarTracker/node_modules/
CarTracker/dist/
CarTracker/.angular/

CarTrackerBackend/node_modules/
CarTrackerBackend/uploads/

# Ignore environment files
CarTracker/.env
CarTrackerBackend/.env

# Ignore logs
*.log
