
.content-area {
    margin-top: 40px;;
    margin-left: 240px; /* Push main content to the right */
    width: calc(100% - 250px); /* Adjust width to prevent overlap */
    padding: 40px;
    background-color: #eaeaea;
}

.service-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  
}