.card {
    border-radius: 20px;
    background-color: #f8f9fa;
  }
  
  .btn-close {
    font-size: 1rem;
  }
  
  input[type="file"] {
    opacity: 0;
    height: 0;
  }
  
  label[for="photo-upload"] {
    cursor: pointer;
    display: inline-block;
    background-color: #ddd;
    padding: 50px;
    border-radius: 12px;
    width: 100%;
    height: 150px;
    line-height: 50px;
    font-weight: bold;
  }

  .form-label{
    font-weight: bold;
    margin-bottom: 3px;
  }
  .vehicle-img-preview {
    width: 200px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    border: 2px solid #ddd;
  }